<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HPA.SQL.Properties.Settings.phanmemtinhluon_P4ConnectionString"
            connectionString="Data Source=112.78.2.166,1455;Initial Catalog=phanmemtinhluon_P4;Persist Security Info=True;User ID=phanmemtinhluon_saP4;Password=ThucTap1@3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>